<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>My todo List</h1>
    <form action="/addTodoItem/" method = "post">
      {% csrf_token %}
      <input type="text" name="content">
      <input type="submit" value="Add Todo Item">
    </form>
    <ul>
      {% for i in all_items %}
        <li>{{ i.content }}</li>
          <form action="/deleteTodoItem/{{ i.id }}/" method = "post">
            {% csrf_token %}
            <input type="submit" value="Delete">
          </form>
      {% endfor %}


    </ul>

  </body>
</html>
